:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    margin: 0;
}

.navbar-bg {
    background-color: var(--main-bg);
}

.navbar {
    background-color: var(--main-bg);
    padding: 2rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color) !important;
}

.navbar li a {
    margin-left: 2rem;
}

.fa-snowflake {
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.weather-content-left {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.weather-content-right {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.weather-content-left p {
    font-size: 2rem;
}

.weather-content-left h1 {
    font-size: 4rem;
    margin: 1rem 0rem 2rem 0rem;
    text-transform: capitalize;
}

.weather-content-left button {
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    box-shadow: 0px 6px 6px -5px #000;
}

.weather-content-left button:active {
    box-shadow: 0px 2px 10px -4px var(--main-color);
}

.text-color {
    color: var(--main-color);
}

footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 5rem;
}

.profile-img {
    width: 100%;
    filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.3));
}

.error-img {
    max-height: 30rem;
    max-width: 60rem;
}

.search {
    border-radius: 4rem;
    background-color: var(--main-bg);
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 1.4rem;
    min-width: 70%;
    margin: 10rem auto 2rem;
}

.search form {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.search input {
    border-radius: 4rem;
    background: var(--main-bg);
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
}

.btn-submit {
    border-radius: 4rem;
    background-color: var(--main-color);
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    color: #fff;
}

.btn-submit:hover {
    background-color: #fff;
    color: var(--main-color);
    transition: all 0.2s ease;
}

.display {
    background-color: var(--main-bg);
    color: #fff;
    width: 40%;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.display .date-time {
    border-radius: 1rem;
    background-color: hsl(214, 8%, 18%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.display .date-time p {
    font-size: 2rem;
}

.display .output p {
    font-size: 2rem;
    padding: 2rem 0rem;
}

.display .hidden-layer {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}

.display .hidden-layer h1 {
    font-size: 6rem;
    padding: 0rem 0rem 2rem 0rem;
    /* visibility: hidden; */
}

sup {
    margin-top: -2rem;
    font-size: 6rem;
}

.display .hidden-layer .temperature-icon {
    color: var(--main-color);
}

@media (max-width:768px) {
    .weather-content-left p,
    .weather-content-left h1,
    .weather-content-left a {
        margin: 1rem auto 0rem;
    }
    .weather-content-left {
        height: auto;
        text-align: center;
        margin: 0rem 0rem 5rem 0rem;
    }
    .weather-content-right {
        height: auto;
        margin-top: 3px;
    }
    .city-search,
    .search input,
    .display {
        width: 90%;
        margin: 1rem auto;
    }
    .display .hidden-layer h1 {
        font-size: 4rem;
    }
    sup {
        font-size: 4rem;
    }
    .error-img {
        width: 30rem;
    }
}

@media(max-width:340px) {
    .weather-content-right {
        height: auto;
        margin-top: 3px;
    }
    .city-search,
    .search input,
    .display {
        width: auto;
    }
    .display .hidden-layer h1 {
        font-size: 4rem;
    }
    sup {
        font-size: 4rem;
    }
}