<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    {{>styles}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 weather-content-right align-items-center">
                    <figure>
                        <img src="images/profile.png" class="profile-img" />
                    </figure>
                </div>
                <div class="col-md-6 col-12 weather-content-left">
                    <p>Welcome To Harshil's World</p>
                    <h1>I am a <span class="text-color">Mern Stack Developer</span> And A Student</h1>
                    <a href="http://www.linkedin.com/in/harshilkhamar" target="_blank"><button>About Me</button></a>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
    {{>scripts}}
</html>