<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {{>styles}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 weather-content-left align-items-center">
                    <figure>
                        <img src="images/error.jpg" class="error-img img-fluid" />
                    </figure>
                    <p class="text-center">Welcome To Harshil Khamar's World</p>
                    <h1 class="text-center">{{errorMessage}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
    {{>scripts}}
</html>